.Carousel__wrapper{
    
    /* width: 100%; */
    height: 100%;
    /* gap: 3rem; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
}
.Carousel{
    width: 54.875rem;
    height: 32.875rem;
    border-radius: 24px;
    overflow: hidden;
    aspect-ratio: 16/9;
}
.Carousel__redundant{
    height: 100%;
    display: flex;
    gap: 25rem;
    position: absolute;
    left: 25%;
    padding-top: 4rem;
    /* transform: translateX(-50%); */
}
.Carousel video{
    width: 100%;
    /* height: 100%; */
    border-radius: 24px;
}
.carousel__identifier {
    padding: 0.7rem 1.4rem;
    border-radius: 48px;
    background-color: #fff;
    display: flex;
    /* margin-bottom: 1rem; */
    position: absolute;
    bottom: 0;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;

}
    
.carousel_video__identifier{
    border-radius: 18px;
    width: 15px;
    height: 15px;
    background-color: #B3B3B3;
   
}
.controls__playback{
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    /* padding: 1rem; */
    border-radius: 48px;
    background-color: #B3B3B3;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}