@font-face{
    font-family: "Canela";
    src: url('/fonts/CanelaDeck-Thin-Trial.otf');
    font-weight: 100;
    font-style: normal;
}
.loader__section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
background-color: #000;
    z-index: 9999;
  }
  
  .loader__filler {
    width: 25%;
    height: 100%; 
    background: #111;
    transform: translateY(100%); 
  }
.loader__progress{
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    font-family: "Canela", sans-serif;
    font-weight: 100;
    font-size: clamp(1rem, 4vw, 3.5rem);
}