/* @font-face{
    font-family: "Canela";
    src: url('/fonts/CanelaDeck-Thin-Trial.otf');
    font-weight: 100;
    font-style: normal;
} */

.navbar {
    padding: 1rem 2rem;
    border-radius: 18px;
    background-color: #fff;
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.navbar__ul{
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar__list_item{
    position: relative;
    font-family: "Canela", serif;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.navbar__list_item a{
    text-decoration: none;
    color: #000;
}
.relative__wrapper{
    position: relative;
}