.popup__span {
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Remove default underline */
}

.popup__span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 9px;
    background: linear-gradient(90deg, #ff7eb3, #ff65a3, #7a75ff, #50c9c3);
    background-size: 200% 100%;
    mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='10' viewBox='0 0 100 10'><path d='M0,5 Q 10,0 20,5 T 40,5 T 60,5 T 80,5 T 100,5' stroke='black' stroke-width='2' fill='transparent'/></svg>");
    -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='10' viewBox='0 0 100 10'><path d='M0,5 Q 10,0 20,5 T 40,5 T 60,5 T 80,5 T 100,5' stroke='black' stroke-width='2' fill='transparent'/></svg>");
    animation: animate-gradient 3s infinite linear;
}
.popup__span:hover::after {
    animation-play-state: paused;
}

@keyframes animate-gradient {
    0% {
        background-position: 100% 0;
    }
    50% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}
