@font-face{
    font-family: "Canela";
    src: url('/fonts/CanelaDeck-Thin-Trial.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}
.projects__section_page{
    background-color: #F5F3EB;
    width: 99vw;
    height: 100vh;
    display: flex;
    padding-inline: 2rem;
    align-items: center;
    
}
.projects__section_wrapper{
    max-width: 1024px;
}
.projects__section_wrapper h1{
    font-family: "Canela", serif;
    font-weight: 100;
    font-size: clamp(1.5rem, 4vw, 3.5rem);
    line-height: 1.2em;
}
@media screen and (min-width: 230px) and (max-width: 500px) {
    .projects__section_page{
        padding-inline: 1rem;
    }
    .projects__section_wrapper h1{
        line-height: 1.4em;
    }
}