@font-face {
    font-family: "Canela";
    src: url('/fonts/CanelaDeck-Thin-Trial.otf');
    font-weight: 100;
    font-style: normal;
  }

  
  .project__link_both {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .hover_active {
    width: 100%;
    height: 100px;
    background-color: #000;
    cursor: pointer;
    color: #F5F3EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
  }
 
  
  .project {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .project h1,
  .hover_active h1 {
    font-family: "Canela", sans-serif;
    font-weight: 100;
    font-size: clamp(1.5rem, 4vw, 3.5rem);
    width: 50%;
  }
  
  .stack {
    display: flex;
    width: 40%;
    height: 100%;
    align-items: center;
  }
  
  .stack__item,
  .hover_active p {
    font-family: "Canela", sans-serif;
    font-weight: 100;
    font-size: clamp(0.575rem, 2vw, 1.25rem);
  }
  
  .link {
    width: 25%;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  .filler {
    width: 25%;
    height: 100%;
  }
  
  .animated__border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: #000;

  }
  
  @media screen and (min-width: 230px) and (max-width: 500px) {
    .stack {
     
      display: none;
    }
  
    .filler {
      width: 0%;
    }
  
    .project h1,
    .hover_active h1 {
      width: 100%;
    }
    .stack__item{
      display: none;
    }
  }
  