@font-face{
  font-family: "Canela";
  src: url('/fonts/CanelaDeck-Thin-Trial.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
.section{
  width: 100vw;
  height: 100vh;
  background-color: #F5F3EB;
  padding-inline: 2rem;
  display: flex;
  align-items: center;
}
.hero__section_main_text{
  max-width: 1024px;
  
}
.hero__section_main_text h1{
  font-family: "Canela", serif;
  font-weight: 100;
  font-size: clamp(1rem, 5vw, 3.5rem);
  line-height: 1.2em;
}